
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseInformation</title>
    <script src="../Scripts/han.common.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
