
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateMajor</title>
    <link href="../Assets/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="../Assets/layui.js"></script>
    <script src="../Scripts/han.core.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/han.common.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
        //添加所属 分院的名称
        $.ajax({
            url: '/BaseInformationManage/GetBranchInformation',
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    for (var i = 0; i < data.Data.length; i++) {
                        $('#MajorBranch').append("<option value='" + data.Data[i].Id + "'>" + data.Data[i].Name+ "</option>");
                    }
                    han.formrender();
                }
                else {
                    $('#saveCourse').removeClass('layui-btn-normal');
                    $("#savemajor").addClass('layui-btn-disabled');
                    han.message("No branch information!Please first maintain and proceed with this operation.");
                }
            }
        });
        function savemajor()
        {
            if ($('#MajorId').val().trim() == '') { han.message("ID can not be empty!"); return; }
            if ($('#MajorName').val().trim() == '') { han.message("Name can not be empty!"); return; }
            if ($('#MajorBranch').val().trim() == '') { han.message("Branch can not be empty!"); return; }
            if ($('#MajorPeople').val().trim() == '') { han.message("People can not be empty!"); return; }
            //缺少对ID有效性的验证语句
            var ret = /^[a-zA-Z]{2}[\d]{4}$/;
            if (!ret.test($('#MajorId').val().trim())) { han.message("An ID must consist of two letters plus four digits."); return; }
            $.ajax({
                url: '/BaseInformationManage/InsertMajorToTable',
                data: {
                    id: $('#MajorId').val().trim(),
                    majorname: $('#MajorName').val().trim(),
                    branchid: $('#MajorBranch').val().trim(),
                    majorpeople: $('#MajorPeople').val().trim(),
                    remark: $('#MajorRemark').val().trim()
                },
                dataType: 'json',
                beforeSend: function () {
                    han.waiting();
                },
                success: function (data) {
                    if (data.Success) {
                        han.closewaiting();
                        $('#MajorId').val('');
                        $('#MajorName').val('');
                        $('#MajorBranch').val('');
                        $('#MajorPeople').val('');
                        han.message("Sava Success");
                    }
                    else {
                        han.closewaiting();
                        han.message(data.Message);
                    }
                }
            });
        }

    </script>
</head>
<body>
<div style="z-index:999;padding:10px;background-color:white;margin:15px">
<form class="layui-form" action="">
    <div class="layui-form-item"> 
        <label class="layui-form-label">专业代号</label>
        <div class="layui-input-block">
          <input type="text" id="MajorId" placeholder="由两位数字组成，不可重复且修改" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item"> 
        <label class="layui-form-label">专业名称：</label>
        <div class="layui-input-block">
          <input type="text" id="MajorName"  placeholder="请输入专业名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">所属分院：</label>
    <div class="layui-input-block">
        <select id="MajorBranch" lay-verify="" lay-search>
        </select>     
    </div>
  </div>
    <div class="layui-form-item"> 
        <label class="layui-form-label">负责人：</label>
        <div class="layui-input-block">
          <input type="text" id="MajorPeople" placeholder="请输入专业负责人" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item"> 
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
          <textarea id="MajorRemark" placeholder="请输入备注" class="layui-textarea"></textarea>
        </div>
    </div>
</form>
    <div style="text-align:center">
        <button id="savemajor" class="layui-btn layui-btn-radius layui-btn-normal" style="width:300px;" onclick="savemajor()">保存</button>
    </div>
</div>
</body>
</html>
