
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../Assets/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="../Assets/layui.js"></script>
    <script src="../Scripts/han.core.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/han.common.js"></script>
</head>
<body>
    <div style="z-index:999;padding:10px;background-color:white;margin:15px">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>嘎吱曰:保温杯里泡枸杞 Coding扣到九十几</legend>
        </fieldset> 
        <ul class="layui-timeline">
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2019年2月</h3>
      <p>
        持之以恒
        <br>好的产品，离不开好的内容以及实用的功能
        <br>敬畏技术的规范 尊重用户的体验 
        <br />不懂产品的开发不是一个好的开发 <i class="layui-icon"></i>
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2018年12月</h3>
      <p>
          再酝酿功能模块设计N久之后 网站雏形新鲜出炉
          <br />确定了<em>"最具实用性"</em>的现代教务管理系统路线
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2018年10月</h3>
      <p>
        后台架构搭建完成
        <br>在两个月左右零碎的时间里 借助网上博客以及周边同事的指点
        <br>完成自己的第一套架构设计
        <br>坎总是有的 就看你有没有勇气去爬了
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2018年7月底</h3>
      <p>
        实习初期
        <br>第一次实习工作的开始 体验了商业级别的网站搭建与教学级别的区别 接触到了网站开发的深入知识
        <br>在阅读一行又一行代码后 搭建自己网站开始萌芽
      </p>
    </div>
  </li>
</ul>  
    </div> 
</body>
</html>
